extends layout

block banner
  .banner.error-404
    .container
      h1 404 
      h2 Oh oh, that's not here.
      p  
        a.btn.btn-link.btn-lg(href="/items") 
          i.fa.fa-chevron-left  Let's go back to your list 
      img(src="/img/404.gif", title="nope")