extends layout

block banner
  .banner
    .container
      h1 What Sarah Likes
      p Sarah always forgets what she likes so I built this simple little web app to help her out. This way she can keep track of things like menu choices, drinks, etc... without (hopefully) asking me what she likes every time we go out for dinner. You might find it useful too.
      #sign-up-btns
        .btns
          a.btn.btn-success.btn-lg(href="/signup") Sign Up
          a.btn.btn-primary.btn-lg(href="/login") Log In